.footer {
    padding: 100px 140px;
    background-color: #42006a;
    display: grid;
    grid-template: 140px / 210px minmax(300px, max-content) 580px;
    div {
        background-color: #42006a;
    }
    &__main {
        display: flex;
        flex-direction: column;
    }
    &__logo {
        width: 100px;
        height: 25px;
        object-fit: cover;
        background-color: #42006a;
    }
    &__descr {
        margin-top: 70px;
        font-family: 'DM Mono';
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: #FFFFFF;
    }
    &__links {
        margin-left: 65px;
        display: grid;
        grid-template: repeat(6, 20px) / minmax(90px, max-content) minmax(90px, max-content);
        row-gap: 30px;
        column-gap: 100px;
    }
    &__link {
        font-family: 'DM Mono';
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        transition: 0.1s all;
        &:hover {
            color: #8DFD1B;
            transform: translateY(5px) scale(1.05);
        }
    }
    &__social {
        justify-self: end;
        display: grid;
        grid-template: 36px / repeat(4, 36px);
        grid-auto-columns: 36px;
        column-gap: 12px;
        grid-auto-flow: column;
        a {
            display: block;
        }
    }
    &__social-item {
        padding: 9px;
        width: 36px;
        height: 36px;
        object-fit: cover;
        background-color: #fff;
        transition: 0.1s all;
        &:hover {
            background-color: #8DFD1B;
            transform: translateY(5px) scale(1.10);
        }
    }
}



@media (max-width: 1200px) {
    .footer {
        padding: 70px 80px;
        grid-template: 140px / 160px minmax(300px, max-content) 350px;
        &__descr {
            margin-top: 50px;
            font-size: 10px;
            line-height: 18px;
        }
        &__links {
            margin-left: 50px;
            grid-template: repeat(6, 20px) / minmax(70px, max-content) minmax(70px, max-content);
            row-gap: 20px;
            column-gap: 70px;
        }
        &__link {
            font-size: 12px;
            line-height: 15px;
        }
    }
}

@media (max-width: 991.50px) {
    .footer {
        padding: 50px 60px;
        grid-template: 100px / 100px minmax(270px, max-content) 300px;
        &__descr {
            margin-top: 30px;
            font-size: 8px;
            line-height: 16px;
        }
        &__links {
            margin-left: 30px;
            grid-template: repeat(6, 15px) / minmax(50px, max-content) minmax(50px, max-content);
            row-gap: 15px;
            column-gap: 60px;
        }
        &__link {
            font-size: 10px;
            line-height: 13px;
        }
        &__social {
            grid-template: 30px / repeat(4, 30px);
            grid-auto-columns: 30px;
            column-gap: 10px;
        }
        &__social-item {
            padding: 8px;
            width: 30px;
            height: 30px;
        }
    }
}

@media (max-width: 767.50px) {
    .footer {
        padding: 20px 15px;
        grid-template: 100px / 90px minmax(250px, max-content) 200px;
        &__descr {
            margin-top: 30px;
            font-size: 8px;
            line-height: 16px;
        }
        &__links {
            margin-left: 30px;
            grid-template: repeat(6, 15px) / minmax(50px, max-content) minmax(50px, max-content);
            row-gap: 15px;
            column-gap: 30px;
        }
        &__link {
            font-size: 10px;
            line-height: 13px;
        }
        &__social {
            grid-template: 20px / repeat(4, 20px);
            grid-auto-columns: 20px;
            column-gap: 10px;
        }
        &__social-item {
            padding: 6px;
            width: 20px;
            height: 20px;
        }
    }
}

@media (max-width: 575.50px) {
    .footer {
        padding: 20px 10px;
        grid-template: 80px / auto;
        &__main {
            display: none;
        }
        &__links {
            margin-left: 0;
            grid-template: repeat(6, 15px) / minmax(50px, max-content) minmax(50px, max-content);
            row-gap: 15px;
            column-gap: 30px;
            justify-content: center;
        }
        &__link {
            text-align: center;
        }
        &__social {
            display: none;
        }
    }
}