.footer {
    padding: 100px 140px;
    background-color: #42006a;
    display: grid;
    grid-template: 140px / 210px minmax(300px, max-content) 580px;
    div {
        background-color: #42006a;
    }
    &__main {
        display: flex;
        flex-direction: column;
    }
    &__logo {
        width: 100px;
        height: 25px;
        object-fit: cover;
        background-color: #42006a;
    }
    &__descr {
        margin-top: 70px;
        font-family: 'DM Mono';
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: #FFFFFF;
    }
    &__links {
        margin-left: 65px;
        display: grid;
        grid-template: repeat(6, 20px) / minmax(90px, max-content) minmax(90px, max-content);
        row-gap: 30px;
        column-gap: 100px;
    }
    &__link {
        font-family: 'DM Mono';
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        transition: 0.1s all;
        &:hover {
            color: #8DFD1B;
            transform: translateY(5px) scale(1.05);
        }
    }
    &__social {
        justify-self: end;
        display: grid;
        grid-template: 36px / repeat(4, 36px);
        grid-auto-columns: 36px;
        column-gap: 12px;
        grid-auto-flow: column;
        a {
            display: block;
        }
    }
    &__social-item {
        padding: 9px;
        width: 36px;
        height: 36px;
        object-fit: cover;
        background-color: #fff;
        transition: 0.1s all;
        &:hover {
            background-color: #8DFD1B;
            transform: translateY(5px) scale(1.10);
        }
    }
}