@mixin circle1 {
    &:before {
        display: block;
        content: '';
        position: absolute;
        top: 535px;
        left: 20%;
        width: 99px;
        height: 99px;
        border: solid 1px #8dfd1b;
        border-radius: 100%;
        z-index: 0;
        background: none;
    }
}

@mixin circle2 {
    &:before {
        display: block;
        content: '';
        position: absolute;
        top: 504px;
        left: 18%;
        width: 160px;
        height: 160px;
        border: solid 1px #8dfd1b;
        border-radius: 100%;
        z-index: 0;
        background: none;
    }
}

@mixin circle3 {
    &:before {
        display: block;
        content: '';
        position: absolute;
        top: 455px;
        left: calc(15% - 5px);
        width: 260px;
        height: 260px;
        border: solid 1px rgba(141, 253, 27, 0.75);
        border-radius: 100%;
        z-index: 0;
        background: none;
    }
}

@mixin circle4 {
    &:before {
        display: block;
        content: '';
        position: absolute;
        top: 380px;
        left: calc(10% - 5px);
        width: 415px;
        height: 415px;
        border: solid 1px rgba(141, 253, 27, 0.50);
        border-radius: 100%;
        z-index: 0;
        background: none;
    }
}

@mixin circle5 {
    &:before {
        display: block;
        content: '';
        position: absolute;
        top: 260px;
        left: calc(2% - 5px);
        width: 670px;
        height: 670px;
        border: solid 1px rgba(141, 253, 27, 0.25);
        border-radius: 100%;
        z-index: 0;
        background: none;
    }
}