.roadmap {
    padding: 120px 0 0 0;
    position: relative;
    &__bg {
        width: 100%;
        height: 240px;
        background: url(../img/roadmap__bg.jpg) center (center / cover) no-repeat;
    }
    &__title {
        margin-top: 120px;
        font-family: 'Audiowide';
        font-weight: 400;
        font-size: 38px;
        line-height: 45px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        z-index: 10;
    }
    &__content {
        margin-top: 60px;
        padding: 45px 90px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__wrapper {
        margin-top: 140px;
        display: grid;
        grid-template: 70px minmax(200px, auto) / mimax(auto, 540px);
        position: relative;
        z-index: 10;
        &:nth-child(1) {
            margin-top: 45px;
        }
        div {
            background-color: #222;
        }
        &:after {
            display: block;
            content: '';
            position: absolute;
            left: calc(50% - 1px);
            top: 115%;
            width: 1px;
            height: 40px;
            background-color: #8dfd1b;
        }
        &:last-child {
            &:after {
                display: none;
            }
        }
    }
    &__wrap-part {
        padding: 12px 0;
        border: 1px solid #8DFD1B;
        border-bottom: none;
    }
    &__wrap-part2 {
        padding: 30px 12px;
        display: flex;
        border: 1px solid #8DFD1B;
    }
    &__phase {
        margin-top: 3px;
        margin-left: 70px;
        font-family: 'DM Mono';
        font-weight: 400;
        font-size: 8px;
        line-height: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #8DFD1B;
    }
    &__subtitle {
        position: relative;
        margin-left: 70px;
        font-family: 'DM Mono';
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        text-transform: uppercase;
        color: #FFFFFF;
        &:before {
            display: block;
            content: '1';
            position: absolute;
            transform: translateX(-57px) translateY(-16px);
            padding: 8px 14px;
            width: 45px;
            height: 45px;
            background: #8DFD1B;
            border: 1px solid #8DFD1B;
            
            font-family: 'DM Mono';
            font-weight: 400;
            font-size: 28px;
            line-height: 28px;
            color: #000000;
        }
        &_2 {
            &:before {
                content: '2';
                background: #222;
                color: #8DFD1B;
            }
        }
        &_3 {
            &:before {
                content: '3';
                background: #222;
                color: #8DFD1B;
            }
        }
    }
    &__descr {
        margin-right: 75px;
        width: 310px;
    }
    &__descr1 {
        margin-left: 22px;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 11px;
        line-height: 29px;
        color: #FFFFFF;
    }
    &__descr2 {
        margin-top: 15px;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 11px;
        line-height: 26px;
        color: #FFFFFF;
        a {
            font-family: 'DM Mono';
            font-weight: 400;
            font-size: 12px;
            line-height: 26px;
            color: #8DFD1B;
        }
    }
    &__descr3 {
        margin-top: 10px;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 12px;
        line-height: 26px;
        color: #FFFFFF;
    }
    &__img {
        width: 130px;
        height: 130px;
        border-radius: 10px;
    }
    &__circle1 {
        background: url('../img/circle.png') center (center / cover) no-repeat;
        width: 672px;
        height: 672px;
        position: absolute;
        top: 13%;
        left: 4%;
        z-index: 0;
    }
    &__circle2 {
        background: url('../img/circle.png') center (center / cover) no-repeat;
        width: 672px;
        height: 672px;
        position: absolute;
        top: 41%;
        left: 52%;
        z-index: 0;
    }
    &__circle3 {
        background: url('../img/circle.png') center (center / cover) no-repeat;
        width: 672px;
        height: 672px;
        position: absolute;
        top: 78%;
        left: 4%;
        z-index: 0;
    }
}



@media (max-width: 1200px) {
    .roadmap {
        &__title {
            margin-top: 100px;
            font-size: 30px;
        }
        &__content {
            margin-top: 0;
        }
        &__circle1 {
            width: 450px;
            height: 450px;
        }
        &__circle2 {
            width: 450px;
            height: 450px;

        }
        &__circle3 {
            width: 450px;
            height: 450px;
        }
    }
}

@media (max-width: 991.50px) {
    .roadmap {
        padding: 90px 0 0 0;
        &__bg {
            height: 180px;
        }
        &__title {
            margin-top: 60px;
            font-size: 27px;
        }
        &__circle1 {
            width: 350px;
            height: 350px;
            top: 20%;
        }
        &__circle2 {
            width: 350px;
            height: 350px;
            top: 45%;

        }
        &__circle3 {
            width: 350px;
            height: 350px;
            top: 72%;
        }
    }
}

@media (max-width: 767.50px) {
    .roadmap {
        padding: 70px 0 0 0;
        &__bg {
            height: 140px;
        }
        &__title {
            margin-top: 40px;
            font-size: 24px;
        }
        &__circle1 {
            width: 250px;
            height: 250px;
            top: 11%;
        }
        &__circle2 {
            width: 250px;
            height: 250px;
            top: 36%;
        }
        &__circle3 {
            width: 250px;
            height: 250px;
            top: 70%;
        }
    }
}

@media (max-width: 575.50px) {
    .roadmap {
        padding: 40px 0 0 0;
        &__bg {
            height: 80px;
        }
        &__title {
            margin-top: 20px;
            font-size: 20px;
        }
        &__content {
            margin-top: 30px;
            padding: 0 0;
        }
        &__wrapper {
            margin-top: 100px;
            grid-template: 50px minmax(100px, auto) / 290px;
            &:nth-child(1) {
                margin-top: 10px;
            }
            &:after {
                height: 20px;
            }
        }
        &__wrap-part {
            padding: 5px 0;
        }
        &__wrap-part2 {
            padding: 20px 8px;
        }
        &__phase {
            margin-top: 3px;
            margin-left: 40px;
            font-size: 6px;
        }
        &__subtitle {
            margin-left: 40px;
            font-size: 14px;
            &:before {
                width: 30px;
                height: 30px;
                padding: 2px 9px 5px;
                font-size: 19px;
                transform: translateX(-36px) translateY(-11px);
            }
        }
        &__descr {
            margin-right: 35px;
            width: 220px;
        }
        &__descr1 {
            margin-left: 5px;
            font-size: 8px;
            line-height: 25px;
        }
        &__descr2 {
            margin-top: 5px;
            font-size: 8px;
            line-height: 21px;
            a {
                font-size: 8px;
                line-height: 21px;
            }
        }
        &__descr3 {
            margin-top: 5px;
            font-size: 8px;
            line-height: 21px;
        }
        &__img {
            width: 70px;
            height: 70px;
        }
        &__circle1 {
            width: 220px;
            height: 220px;
            top: 7%;
        }
        &__circle2 {
            width: 220px;
            height: 220px;
            top: 36%;
            left: 32%;
        }
        &__circle3 {
            width: 220px;
            height: 220px;
        }
    }
}