.story {
    padding: 200px 240px 0 40px;
    &__title {
        font-family: 'Audiowide';
        font-weight: 400;
        font-size: 37px;
        line-height: 45px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        span {
            color: #A8A8A8;
        }
    }
    &__main {
        margin-top: 60px;
        display: flex;
        justify-content: center;
    }
    &__tabs {
        margin-bottom: 0;
        list-style-type: none;

        display: grid;
        grid-template: repeat(3, 70px) / 280px;
        grid-auto-rows: 70px;
    }
    &__tab {
        padding: 25px 0 31px 28px;
        font-family: 'DM Mono';
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: #FFFFFF;
        cursor: pointer;
        &_active {
            color: #8DFD1B;
            background-color: #222;
        }
        &:hover {
            color: #8DFD1B;
        }
    }
    &__content {
        padding: 60px;
        background-color: #222;
    }
    &__wrapper {
        display: none;
        &_active {
            display: block;
            display: grid;
            grid-template: auto / 170px 545px;
            column-gap: 40px;
            background-color: #222;
            div {
                background-color: #222;
            }
        }
    }
    &__img {
        width: 100%;
        height: 253px;
        object-fit: cover;
    }
    &__subtitle {
        height: 95px;
        margin-bottom: 28px;
        position: relative;
        margin-left: 24px;
        font-family: 'DM Mono';
        font-weight: 400;
        font-size: 21px;
        line-height: 32px;
        color: #8DFD1B;
        &:before {
            content: '';
            display: block;
            position: absolute;
            transform: translateX(-24px);
            width: 2px;
            height: 93px;
            background: #8DFD1B;
        }
    }
    &__descr {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
    }
}


@media (max-width: 1200px) {
    .story {
        padding: 100px 0 0 0;
        &__title {
            font-size: 30px;
        }
        &__tabs {
            grid-template: repeat(3, 70px) / 200px;
        }
        &__tab {
            font-size: 14px;
        }
        &__content {
            padding: 50px;
        }
        &__wrapper {
            &_active {
                grid-template: auto / 170px 450px;
                column-gap: 30px;
            }
        }
        &__subtitle {
            margin-bottom: 20px;
            margin-left: 20px;
            font-size: 17px;
            line-height: 28px;
            &:before {
                height: 80px;
            }
        }
        &__descr {
            font-size: 14px;
            line-height: 20px;
        }
    }
}

@media (max-width: 991.50px) {
    .story {
        padding: 80px 0 0 0;
        &__title {
            font-size: 27px;
        }
        &__tabs {
            grid-template: repeat(3, 60px) / 120px;
        }
        &__tab {
            padding: 20px 0 20px 15px;
            font-size: 13px;
        }
        &__content {
            padding: 40px;
        }
        &__wrapper {
            &_active {
                grid-template: auto / 140px 400px;
            }
        }
        &__subtitle {
            margin-bottom: 15px;
            font-size: 15px;
            line-height: 26px;
            &:before {
                height: 75px;
            }
        }
        &__descr {
            font-size: 13px;
            line-height: 17px;
        }
    }
}

@media (max-width: 767.50px) {
    .story {
        padding: 60px 0 0 0;
        &__title {
            font-size: 24px;
        }
        &__tabs {
            grid-template: repeat(3, 40px) / 90px;
        }
        &__tab {
            padding: 13px 0 13px 10px;
            font-size: 10px;
        }
        &__content {
            padding: 30px;
        }
        &__wrapper {
            position: relative;
            &_active {
                grid-template: 150px auto / 400px;
                row-gap: 30px;
            }
        }
        &__img {
            width: 35%;
            height: 100%;
        }
        &__subtitle {
            position: absolute;
            top: 27px;
            right: 20px;
            width: 200px;
            margin-bottom: 0;
            height: auto;
            font-size: 13px;
            line-height: 20px;
            &:before {
                height: 87px;
            }
        }
        &__descr {
            font-size: 11px;
            line-height: 14px;
        }
    }
}

@media (max-width: 575.50px) {
    .story {
        padding: 50px 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__title {
            font-size: 20px;
        }
        &__main {
            position: relative;
            margin-top: 10px;
        }
        &__tabs {
            position: absolute;
            top: 0;
            grid-template: repeat(3, 40px) / 300px;
        }
        &__content {
            margin-top: 130px;
            padding: 20px;
        }
        &__wrapper {
            position: relative;
            &_active {
                grid-template: 100px auto / 280px;
                row-gap: 30px;
            }
        }
        &__img {
            width: 35%;
            height: 100%;
        }
        &__subtitle {
            top: 0;
            right: 0;
            width: 150px;
            font-size: 11px;
            line-height: 18px;
            &:before {
                height: 80px;
                transform: translateX(-15px);
            }
        }
        &__descr {
            font-size: 9px;
            line-height: 13px;
        }
    }
}